@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import "mixins";
@import "base";


$green: #004414;
$lime: #D7DA8B;

$lightblue: #84D2CC;
$lightred: #FD9EA3;
$lightgreen: #9AEA92;
$textColor: #555;

body {
	background-image: url('https://images.unsplash.com/photo-1463123081488-789f998ac9c4?ixlib=rb-0.3.5&q=80&fm=jpg');
	background-position: center;
	background-size: cover;
	font-size: 16px;
	font-family: 'Slabo 27px', serif;
	color: $textColor;
	max-width: 100%;
}

.container {
	max-width: 900px;
	width: 100%;
	margin: 5vh auto 0;
	padding: 15px;
}

.title {
	font-size: 3em;
	color: #fff;
	letter-spacing: 0.2em;
	text-align: center;
}

@media (min-width: 768px) {
	.container {
		margin: 20vh auto 0;
	}
	.title {
		font-size: 6em;
		text-align: left;
	}
}

.box {
	background: #fff;
	padding: 10px;

	font-size: 0.9rem;

	position: relative;
	margin: 0 -15px;
	-webkit-box-shadow: 0px 3px 25px -5px rgba(51,51,51,1);
	-moz-box-shadow: 0px 3px 25px -5px rgba(51,51,51,1);
	box-shadow: 0px 3px 25px -5px rgba(51,51,51,1);
}


.box__header {
	margin: 0 -10px 10px;
	padding: 0 10px 10px;
	border-bottom: 1px solid $lightred;
	font-size: 1.5em;
}


@media screen and (min-width: 768px) {
	.box {
		padding: 30px;
		width: 550px;
		margin-left: 0;
		border-radius: 3px;
		font-size: 1rem;
	}
	.box__header {
		margin: 0 -30px 30px;
		padding: 0 30px 10px;
		font-size: 2em;
	}
}

.form__label {
	display: block;
	margin-bottom: 0.5em;
	width: 100%;
}

.form__input {
	width: 100%;
	display: block;
	padding: 0.25em;
	border: 0px solid transparent;
	outline: none;
	border-bottom: 1px solid $lightblue;
	transition: 0.2s;

	color: #111;
	@include placeholder {
		color: #ccc;
		transition: 0.2s;
	}
	&:active, &:focus {
		border-color: #56B3AC;
		@include placeholder {
			color: $lightblue;
		}
	}

}


.form__submit {
	background-color: rgba(#34B327, 0.2);
	border: 3px solid #fff;
	color: #fff;
	outline: none;
	font-size: 1.414em;
	padding: 0 1em;
	border-radius: 2em;
	line-height: 2.414em;
	transition: 0.4s;

	position: absolute;
	top: 110%;
	right: 5%;

	&:hover, &:focus {
		background-color: rgba(#34B327, 0.8);
		// top: 109%;
		-webkit-box-shadow: 0px 3px 25px -5px rgba(51,51,51,0.3);
		-moz-box-shadow: 0px 3px 25px -5px rgba(51,51,51,0.3);
		box-shadow: 0px 3px 25px -5px rgba(51,51,51,0.3);
	}
}

@media screen and (min-width: 768px) {
	.form__submit {
		right: 0;
	}
}

.btn--back {
	position: absolute;
	top: 15px;
	left: 15px;
	background-color: #f2f2f2;
	border-bottom: 3px solid #dedede;
	color: $green;
	display: inline-block;
	padding: 5px;
	text-decoration: none;
}
